# general
openframeworks/bin/libs/
openframeworks/bin/data/photos/*.png
openframeworks/bin/data/slides/*.jpg
openframeworks/bin/openframeworks
openframeworks/bin/openframeworksDebug
obj
.svn

*.swp

# arduino
*.o
*.hex
.dep
.lib


# mac specific
*.app
